#hero {
    width: 100%;
    height: 92vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: url('https://turinha-static.pkds.it/blog/production/2017/02/11130024/cantigas-de-roda-1.jpg') center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#hero:before {
    content: "";
    background: rgba(53, 50, 50, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container-hero {
    background: transparent;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    margin-left: 90px;
    font-size: 20px;
}
  
.hero-text h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Raleway", sans-serif;
}
  
.hero-text p {
    font-size: 19px;
    width: 600px;
    color: #EEE;
}

.download {
    margin: 10px;
}

.download button {
    border: 1px solid #fff;
    background: transparent;
    padding: 8px 45px;
    border-radius: 23px;
    cursor: pointer;
}

.download button:hover {
    background: #2aebeb;
    border: 1px solid #2aebeb;
}

.download a {
    color: #fff;
    font-family: 'poppins';
    font-size: 14px;
}
  
@media (width <= 930px) {
    #hero {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
    }
    .container-hero {
      text-align: center;
      padding: 0;
      margin:  0;
    }
    .btn-list {
        align-items: center;
        justify-content: center;
    }
    .hero-text {
        text-align: center;
        margin: 20px;
    }
    .hero-text p {
        text-align: center;
        font-size: 20px;
        width: auto;
    }
    .hero-text h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
}

/* About */
#about {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 90px;
}

#about h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 0 20px;
    margin-left: 30px;
    position: relative;
    color: #362b2b;
}


#about h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: rgba(65, 164, 249, 1);
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

.container-about {
    background-color: #4ECDC4BF;
    border-radius: 20px;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    margin-left: 10%;
    justify-content: space-between;
}

.texto{
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 50px ;
}

.row {
    display: flex;
    justify-content: space-between; 
    gap: 40px;
}

.img-sobre {
    animation: float 5s ease-in-out infinite;
    margin-top: 5%;
    width: 40%; 
    height: 40%;
    border-radius: 20%;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}




.line1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    max-width: 720px;
    display: flex !important;
    justify-content: flex-end !important;
}

.line1 .blue {
    margin-right: -200px;
    margin-top: -113px;
    margin-bottom: 100px;
}


#sobre-jogos {
    background: #fff;
    padding-top: 40px;
    padding-bottom: 90px;
}

#sobre-jogos h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0 0 20px;
    margin-left: 30px;
    position: relative;
    color: #362b2b;
}


#sobre-jogos h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 50px;
    background: rgba(65, 164, 249, 1);
    margin-bottom: 9px;
    left: 0;
    top: 0;
}

.container-jogos {
    background-color: #4ECDC4BF;
    border-radius: 20px;
    padding: 40px;
    max-width: 1200px;
    width: 100%;
    margin-left: 10%;
    justify-content: space-between;
}

.texto2 {
    color: white;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 90px ;
   
}

.row2 {
    display: flex;
    justify-content: space-between; 
    gap: 40px; 
}

.imgjogo {
    animation: float 5s ease-in-out infinite;
    margin-top: 5%;
    width: 40%; 
    height: 40%;
    border-radius: 20%;
}



@media (max-width: 1479px) {
    .container-about p {
        width: auto;
        margin: 0 20px 0 20px;
    }
    .line1 {
        display: flex;
        justify-content: center;
    }
    .blue {
        margin-left: -800px;
    }
}

@media (width <= 1111px) {
    .line1 {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
        left: 0;
    }
}

@media (width <= 680px) {
    .img-sobre {
        width: 400px;
    }
}

@media (width <= 440px) {
    .img-sobre {
        width: 300px;
    }
    .blue {
        display: none;
    }
}

@media (width <= 350px) {
    .img-sobre {
        display: none;
        opacity: 0;
        margin: 0;
    }
}

/* Causes */
.h2-extras{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
}
#extras {
    background: #fff;
    padding: 60px 0 10px 0;
}

.container-extras {
    background-color: #FFC2E2BF;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-left: 10%;
}

.container-extras h3 {
    font-size: 39px;
    margin-bottom: 100px;
    color: #ee74da;
    font-weight: bold;
    font-family: menuFont;
    margin-top: -80px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 120px;
}
  
.card {
    width: 250px;
    height: 491px;
    margin: 0;
    background-color: #fff ;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 24px 32px #41a4F93D;
}
  
.card:hover {
    box-shadow: 0 0 15px rgba(65, 164, 249, 1);
    transition: all .5s
}
  
.card img {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    top: 50%;
    left: 50%;
}
  
.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}
  
.card h1 {
    padding: 32px 32px 0 32px;
    font-size: 20px;
    font-family: 'Nunito';
    font-weight: 700;
    text-align: center;
}
  
.card p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 16px;
    color: #7f7f7f;
    text-align: left;
    font-size: 16px;
}
  
.card button {
    background-color: #2192FF;
    height: 30px;
    border: none;
    padding: 4px;
    width: 100px;
    color: #fff;
    font-size: 1rem;
    font-family: 'Nunito';
    font-weight: bold;
    border-radius: 4px;
}

.more {
    color: #fff;
    font-family: 'Nunito';
}
  
.card button:hover {
    background-color: #137de8;
    cursor: pointer;
}

.puzzle {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    max-width: 20px;
    display: flex !important;
    justify-content: flex-end !important;

    position: absolute;
    z-index: 1;

    margin-left: -90px;
}

.puzzle .qbr-kbc {
    width: 100px;
    margin-right: -200px;
    margin-top: -113px;
    margin-bottom: 100px;
}

/* integrantes */

.integrantes-secao {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.integrantes-secao h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.integrantes-container {
    background-color:  #ADE8F4BF;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin-left: 10%;
}

.integrante {
    background-color: #Fff ;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.integrante img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

.integrante h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
        
.integrante p {
    margin: 5px 0;
    color: #555;
}